body{
    background-color: rgb(207, 243, 205)
}
.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.country{
    border: 2px solid goldenrod;
    border-radius: 20px;
    padding: 10px;
}
.country img{
    width: 200px;
}